.reserv {
	color: black;
	font-weight: normal;
}

.ui.secondary.menu {
	justify-content: center !important;
}

.table td, .table th{
	padding: 0;
}

@media (min-width: 320px) and (max-width: 480px) {
    .table td, .table th{
		padding: 0 !important;
		font-size: 8px !important;
	}
  
	.reserv{
		font-size: 8px !important;
	}
  }