.navbar-expand-md {
	height: 100px;
	position: sticky !important;
	top: 0;
	z-index: 200;
}

.navbar-nav,
.nav-link {
	color: white !important;
	font-size: 14px !important;
	font-weight: bold !important;
}

.power {
	font-size: 25px !important;
	color: white;
	padding-left: 15px;
}

.power:hover {
	font-size: 25px !important;
	color: red;
	padding-left: 15px;
}

.ButtonTransparent{
	background-color: transparent !important;
}

.ButtonTransparent:hover{
	background-color: transparent !important;
}

.power {
	margin-right: 15px !important;
}

.logo {
	height: 200px;
	width: auto;
	margin-top: 50px;
}

.navbar-expand-md .navbar-collapse{
	height: 100px;
}

@media (min-width: 320px) and (max-width: 480px) {
	.logo {
		height: 80px;
		width: auto;
		margin-top: 0;
	}
	.navbar-collapse {
		background-color: #ffc107 !important;
	}
	.navbar-expand-md .navbar-collapse{
		height: 270px;
		width: 100%;
	}
}
 